/********************************
* IMPORTS 
*********************************/
@import "./fontello.css";

/********************************
* FONTS 
*********************************/
body {
    font-family: proxima-nova,arial,sans-serif;
}

h4 {
	font-weight:bold;
}

.nav-header, .nav-header:focus {
    font-family: futura-pt,arial,sans-serif;
    font-weight: 600;
}

a.single-submit,
.select-wrap a,
body.thankyou.from-landing-page form input[type=submit] {
	font-family: futura-pt,arial,sans-serif;
	font-weight: 700;
}

#section-nav-wrapper .menu-main-menu-container a,
h2 {
    /*font-family: neue-haas-grotesk-ny-post,sans-serif;*/
    font-family: neue-haas-grotesk-display,sans-serif;
    font-weight: 500;
}

input[type=submit],
.product .caption p span.logo-text {
    /*font-family: neue-haas-grotesk-ny-post,sans-serif;*/
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
}

/********************************
* GENERAL 
*********************************/
body {     
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    /* left: -441px; */
    background: #fff;
    padding: 0;
    margin: 0; 
}

.wrapper { min-height: calc(58vh - 55px);  padding-bottom: 30px; }

h2 { float: none; text-align: center; font-size: 60px; font-style: normal; background: none; top: 0; padding-right: 0; line-height: normal; margin-top: 0; margin-bottom: 0; font-weight: bold;  }
h3 { background: none; font-size: 22px; line-height: 23px; text-align: center; margin: 0; }
h4 { font-size:30px; }

.container a:hover { color: #c33; text-decoration:none;}

/********************************
* NAVIGATION 
*********************************/

/********************************
* HEADER 
*********************************/
#top-nav { margin-bottom: 44px; }

/********************************
* STRUCTURE 
*********************************/
.container-fluid { max-width: 1282px; }

.page-title { background: none; height: auto; margin: 0 0 3px; }

h2 img { max-height: 60px; margin: 0 auto 11px; }

/********************************
* FOOTER 
*********************************/
/*#page-footer { position: absolute; left: 0; bottom: 0; width: 100%; padding: 0 15px; }
#page-footer #footer-legal { padding: 9px 0px 0; border-top: 1px solid #ccc;  max-width: 978px; margin: -10px auto 0; }
#footer-legal p { text-transform: none; font: 400 11px/14px proxima-nova,Helvetica,sans-serif; color: #bebebe; text-align: center; }
#footer-legal p a { color: #bebebe; }
#footer-legal p a:hover { text-decoration:underline; color:#c33; }
*/

#page-footer #footer-social { font-size:22px; text-align:center; padding:0 0 15px; max-width: 978px; margin:-1px auto 0; }
#page-footer #footer-social p { margin:0; padding-top:30px;}
#page-footer #footer-social p,
#page-footer #footer-social a { font-weight:normal;color:#000; }
#page-footer #footer-social ul { padding-top:8px;margin-bottom:20px; }
#page-footer #footer-social ul li { padding-left:5px; padding-right:5px;}

.terms button#ot-sdk-btn.ot-sdk-show-settings, 
.terms button#ot-sdk-btn.optanon-show-settings { margin:5px 0 10px;padding:0; border:0; color: #767676; font-size: 11px; line-height: 13px; text-transform:uppercase;}
.terms button#ot-sdk-btn.ot-sdk-show-settings:hover, 
.terms button#ot-sdk-btn.optanon-show-settings:hover { background:none !important; }

/********************************
* THE FORM
*********************************/
form { position: relative; padding:0; margin: 19px auto 0; max-width: 976px; text-align: center; }
form p small, 
form p small a { font-size: 16px; color: #333; }
form p { margin: 0 !important; }
form p small { display: block; padding-top: 11px; font-size: 16px; padding-bottom: 20px; }
form p small a { border-bottom: 1px solid /*#bebebe*/ #c33; color:#c33; }
form p small a:hover { border-color: #c33; }
input { display: block; width: 100%; color: #000; -webkit-appearance: none; border-radius:0; }
input[type=checkbox] ~ span { margin-right: 8px; float: left; display: inline-block; width: auto; }
input[type=submit] { -webkit-appearance: none; background: #c33; color: #fff; border: 0; font-size: 22px; padding: 10px 15px 11px;  margin-top: 0; opacity: 1;     border-radius: 6px; text-transform:uppercase;}
input[type=submit]:hover { background: #CC3333; opacity:.9; color: #fff; }
input:focus { outline: none; }
form p.error { display: none; font-size: 14px; color: red; }
form input.error { border-color: red !important; }

.contact-fields { margin-bottom: 34px; max-width: 568px;}
.email-field, .submit-field { float: left; }
.email-field { width: 62%; }
.submit-field { position:relative; width: 38%; padding-left: 15px; }
.submit-field i { position:absolute; right:20px; top:6px; z-index:999; font-size:20px; color:#fff; line-height:41px; opacity:0;}
form input#contact_fields_email { padding:14px 15px; background: #fff; border: 1px solid #ccc; font-size: 16px; }
form input#contact_fields_email::placeholder,
form input[name="name"]::placeholder{ color: #333; opacity: 1; }
form input#contact_fields_email:-ms-input-placeholder,
form input[name="name"]::-ms-input-placeholder { color: #333; }
form input#contact_fields_email::-ms-input-placeholder,
form input[name="name"]::-ms-input-placeholder { color: #333; }

.product { position: relative; margin-bottom: 20px; display:inline-block; float:none; width:300px;  margin-right: 38px; padding-right:0;  padding-left:0;     overflow: hidden; }
.product.last { margin-right: 0; }
label { font-weight: normal; margin-bottom: 0; display: block; max-width: none;     width: 100%; }
.product picture { position: relative; }
.product .caption { min-height: 75px; border: 1px solid #CCC; border-top: 0; padding: 15px; }
.product.checked .caption { }
.product label:hover { cursor:pointer; }
.product .caption p { text-align: left; padding-left: 0; font-size: 16px; position: relative; }
.product .caption p,
.description-inner img {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
.product .caption p input { /*position: absolute; top: 0; left: -2px;*/ }
.product .caption p input:hover { cursor:pointer; }
.product .caption p span.logo-text { font-size: 26px; line-height: 20px; margin-bottom: 3px; }
.description-wrap { display:table; width:100%; min-height:112px; }
.description-inner { display:table-cell; vertical-align:middle; color:#fff; font-size:16px;padding:0 45px;}
.description-inner img,
.description-inner h4 { display:block; height:32px; line-height:32px; margin:0 auto;}
.description-inner p { margin-bottom:5px !important; }
/*.product-id--94894 .description-inner { padding: 0 35px; }
.product-id--94894 .description-inner img { height:22px; line-height:32px; }*/

.list-id--decider .product { /*float:left;*/ }
.list-id--decider .product .caption { min-height:95px; }

.check-wrap { display: block; position: absolute; top: 0; left: -2px; }
input[type=radio], 
input[type=checkbox] ~ span { font-family: "fontello"; margin:0; background:#fff !important; border:3px solid #333; }
input[type=radio]::before, 
input[type=checkbox] ~ span::before { display: inline-block; vertical-align: middle; text-align: center; margin: 1px 10px 10px 0; float: left; position: relative; left: 4px; top: -7px; padding: 0; font-size: 30px; content: "";color: #333; z-index:10; }
input[type=radio]:checked, 
input[type=checkbox]:checked ~ span { border-color:#c33; position:relative;}
input[type=radio]:checked::before, 
input[type=checkbox]:checked ~ span::before { color:#c33; content: "\e809"; }
input[type=radio]:checked::after, 
input[type=checkbox]:checked ~ span::after {     color: #fff;
    font-size: 60px;
    position: absolute;
    top: -11px;
    right: -26px;
    content: "\e809";
    width: 55px;
    height: 27px;
    overflow: hidden; }
input[type=checkbox]:checked ~ span em { position:absolute; left:-3px; z-index:1;}
input[type=checkbox]:checked ~ span em.left { top:0; height:100%; border-left:3px solid #c33;}
input[type=checkbox]:checked ~ span em.top { top:-3px; width:10px; border-top:3px solid #c33;}

/*input[type=checkbox]::after { content:"";display:block; position:absolute; top:0; left:0; width:100%; height:100%; border:3px solid #000; }*/

.list-id--pagesix .group-break p svg { height:50px;  margin-bottom: 1px; }


/********************************
* PAGE SPECIFIC 
*********************************/
/* Home */
body.home {  }
body.home input[type=checkbox] { width: 28px; height: 28px; outline:none; display:none; }
body.home input[type=checkbox] ~ span { display:block;width: 28px; height: 28px; position:relative; }
body.home .product-id--94894 picture img { margin-top:-10px; }
body.home .product .caption p { line-height: 22px; padding-left: 37px; }

/* Thank You */
body.thankyou form .product input{ display:none; }
body.thankyou #top-nav { margin-bottom:44px; }
body.thankyou h2 { color:#2a2a2a; }
body.thankyou a.nyp-link { display: inline-block;
    padding: 8px 15px;
    color: #fff !important;
    background: #c33;
    font-family: futura-pt;
    font-weight: 700 !important;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 100ms ease-in-out; border-radius:6px; }
body.thankyou a.nyp-link:hover { background: #000; text-decoration: none !important; }
.group-break { border-top: 1px solid #ccc; margin-top: 5px; padding-top: 40px; margin-bottom: 31px; }
.group-break p { line-height: 27px; max-width: 540px; margin: 0 auto !important; font-size: 24px; }
.group-break p svg { height: 40px; display: block; margin:0 auto 10px; }
body.thankyou #page-footer #footer-social { padding:10px 0 0; }
body.thankyou #page-footer #footer-social p { font-size:25px; }
body.thankyou #page-footer #footer-social p,
body.thankyou #page-footer #footer-social a { color:#000; }

.select-wrap a { -webkit-appearance: none; background: #f7cb00; color: #000 !important; border: 0; text-transform: uppercase; font-size: 19px; padding: 7px 15px;  margin-top: 0; opacity: 1; border-radius:0; }
.select-wrap a:hover { background: #ac8e00; color: #fff; }
.select-wrap a { padding: 5px 30px 3px; font-size: 16px; width: auto; float: right; margin-top: 3px; margin-bottom: 17px; }
.select-wrap { margin-top: 9px; margin-bottom: 40px; }
.select-wrap a { float:none; margin:0 8px; padding:5px 15px}
#clear-all { background:#ccc; color:#000; }
#clear-all:hover { background:#666; }
.select-wrap a:focus,
.select-wrap a:focus:hover { text-decoration:none; }

.disabled { pointer-events: none; cursor: default; }
#select-all.disabled { background:#ccc; opacity:.4; }


.pulse {
  animation: pulse 800ms infinite;
}

@keyframes pulse {
  0% {
    opacity:1;
  }
  50% {
    opacity:.7;
  }
  100% {
    opacity:1;
  }
}  



/* Landing Page */
body.landing-page .page-title { margin:0 auto 35px; max-width:740px; }
body.landing-page .page-title img { margin:0 auto; }
body.landing-page h2 img { max-height:none; width:100%;  }
body.landing-page h3 { color:#000; text-align:center; }
body.landing-page h2 { color:#2a2a2a; }
body.landing-page h4 { margin:0 auto 30px; font-size:28px;max-width:500px; text-align:center;}
body.landing-page span.subscribe-all { margin-top:30px; font-size:16px; text-transform:uppercase; display: inline-block; line-height: 30px; }
body.landing-page span.subscribe-all label { margin-left:10px; }
body.landing-page form { max-width:740px; margin:0 auto; padding-top:30px;}
body.landing-page section { max-width:978px; margin:0 auto; }
body.landing-page .email { float:left; width:75%; padding-right:10px; }
body.landing-page .submit { float:left; width:25%; }
body.landing-page .email input[type="email"] { background:#fff; border-radius:0; border-color:#000; font-size:16px; height:40px; }
body.landing-page .email input[type="email"]:focus { outline:none; box-shadow:none; border-color:#000; }
body.landing-page .submit input[type="submit"] { transition:0.3s; padding-bottom:6px; border-radius:6px; background:#C3511D; color:#fff; }
body.landing-page .submit input[type="submit"]:hover { background-color:#a7461a; }
body.landing-page #page-footer #footer-social p, 
body.landing-page #page-footer #footer-social a { color:#000; }
body.landing-page .error {  }
body.landing-page .form-group { padding-top:5px; margin-bottom:0; }
body.landing-page #secondary { display:none; padding-bottom:50px; opacity:0; top:50px; position:relative;padding-top:44px; }
body.landing-page #secondary p { text-align:center; font-size:22px; }
body.landing-page #secondary hr {border-top:3px solid #F7CB00; margin:30px auto 50px; }
body.landing-page #secondary svg { height:30px; position: relative; top: 7px; }
body.landing-page #secondary ul { max-width:450px; margin:0 auto; list-style:none; padding:0; text-align:center;}
body.landing-page #secondary ul hr { border-color:#ddd;border-width:1px;margin:50px auto 40px; }
body.landing-page #secondary ul p  {line-height:normal; margin:0 auto; font-size:18px; }
body.landing-page #secondary ul p svg { display:block; margin:0 auto 30px;; }
body.landing-page #secondary ul li { position:relative; border:2px solid #BEBEBE; list-style:none; padding:20px 10px; margin-bottom:15px; }
body.landing-page #secondary ul li .list-info,
body.landing-page #secondary ul li .toggle { float:left; }
body.landing-page #secondary ul li .list-info { width:85%; }
body.landing-page #secondary ul li .list-info p { line-height:normal; padding:0; margin:0;text-align:left; font-size:16px; }
body.landing-page #secondary ul li .list-info img { padding:0; margin:0 0 6px; height:30px; max-width:80%; }
body.landing-page #secondary ul li.group-0 .list-info img { height:40px; }
body.landing-page #secondary ul li.group-1 .list-info img { height:30px; }
body.landing-page #secondary ul li.group-2 .list-info img { height:23px; }
body.landing-page #secondary ul li .toggle { width:15%; }
body.landing-page #secondary ul li span { opacity:0; position:absolute; right: -150px; top: 14px; padding:15px; display:block; width:150px; }
body.landing-page #secondary ul span.subscribe-all { float:none; display:inline-block; margin:30px auto; }
body.landing-page:not(.ab) #secondary input[type=checkbox]{ height: 0; width: 0; visibility: hidden; }
body.landing-page:not(.ab) #secondary label {
	float:right;
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 30px;
	background: #BEBEBE;
	display: block;
	border-radius: 100px;
	position: relative;
}
body.landing-page:not(.ab) #secondary label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 5px;
	width: 22.5px;
	height: 22.5px;
	background: #fff;
	border-radius: 20px;
	transition: 0.3s;
}
body.landing-page:not(.ab) #secondary input:checked + label { background: #F7CB00; }
body.landing-page:not(.ab) #secondary input:checked + label:after { left: calc(100% - 5px); transform: translateX(-100%); }
body.landing-page:not(.ab) #secondary label:active:after { width: 30px; }
body.landing-page:not(.ab) #secondary input:checked + label:after { background:#000; }
 
body.landing-page form p { }
body.landing-page form p small { color:#333; }
body.landing-page form p small a,
body.landing-page form p small a:hover { color:#C3511D;  border-color:#C3511D }
body.landing-page form input[type="email"]::placeholder {  color: #000; opacity: 1;  }
body.landing-page form input[type="email"]:-ms-input-placeholder {  color: #000; }
body.landing-page form input[type="email"]::-ms-input-placeholder {  color: #000; }

 
body.promo-landing-page .wrapper { padding-top: 20px; }
body.promo-landing-page .submit input[type="submit"] { background:#CC0000; font-size: 17px; padding: 8px 0;}
body.promo-landing-page .submit input[type="submit"]:hover { background:#ba0101; }
body.promo-landing-page form p small a, 
body.promo-landing-page form p small a:hover { color:#CC0000; border-color:#CC0000; }
body.promo-landing-page .page-title { margin-bottom:20px; }
body.promo-landing-page h3 { max-width: 740px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 30px; background:none;}
  

/* Thank You -- from-landing-page */
body.thankyou.from-landing-page form .product input{ display:none; }
body.thankyou.from-landing-page #top-nav { margin-bottom:44px; }
body.thankyou.from-landing-page h2 { color:#2a2a2a; }
body.thankyou.from-landing-page h3 { color:#333; padding: 27px 0 0; display:none !important;}
body.thankyou.from-landing-page form { max-width: 976px; margin-top: 0; padding-top: 30px; }
body.thankyou.from-landing-page .contact-fields { margin-bottom: 23px; max-width:none; }
body.thankyou.from-landing-page form .submit-field { width: auto; float: none; margin: 0 auto; padding-left: 0 !important; }
body.thankyou.from-landing-page form p.dont-miss { float: left; font-size: 28px; font-weight: bold; }
body.thankyou.from-landing-page form p.dont-miss svg { height: 22px; position: relative; top: 1px; }
body.thankyou.from-landing-page form input[type=submit],
body.thankyou.from-landing-page .select-wrap a { padding: 5px 30px 3px; font-size: 16px; width: auto; float: right; margin-top: 3px; margin-bottom: 17px; background: #f7cb00; color: #000; border-radius:0; }
body.thankyou.from-landing-page .product { display:inline-block; float:none; width:300px;  margin-right: 34px; padding-right:0;  padding-left:0;}
body.thankyou.from-landing-page .product.last { margin-right:0; }
body.thankyou.from-landing-page .product .caption { border: 1px solid #e5e5e5; border-top: 0; padding: 15px 16px 11px 19px; }
body.thankyou.from-landing-page .product .caption p { text-align:left; color:#333; padding-left: 0; height: 44px;  }
body.thankyou.from-landing-page .product .caption:hover { cursor: default; }
body.thankyou.from-landing-page #page-footer #footer-social { padding:10px 0 0; }
body.thankyou.from-landing-page #page-footer #footer-social p { font-size:25px; padding-bottom:15px; }
body.thankyou.from-landing-page #page-footer #footer-social p,
body.thankyou.from-landing-page #page-footer #footer-social a { color:#000; }
body.thankyou.from-landing-page a.single-submit { text-align: center; width: 175px; padding: 5px 0 3px; font-size: 16px; background: #f7cb00; display: inline-block; color: #000 !important; margin-top: 4px; margin-bottom: 9px; }
body.thankyou.from-landing-page a.single-submit:hover { cursor: pointer; text-decoration: none; background: #2a2a2a; color: #fff !important; }
body.thankyou.from-landing-page a.single-submit.success { padding-left: 0; padding-right: 0; pointer-events: none; cursor: not-allowed; background: #2a2a2a; color: #fff !important; }
body.thankyou.from-landing-page a.single-submit:focus { text-decoration: none; }
body.thankyou.from-landing-page input[type="submit"].thank-you-submit:hover { background: #2a2a2a; color: #fff !important; }
body.thankyou.from-landing-page input[type="submit"].thank-you-submit.success { pointer-events: none; cursor: not-allowed; background: #2a2a2a;color: #fff !important; padding: 5px 24px 3px; }
body.thankyou.from-landing-page label[for="lists_127389"] .caption p { height:auto; }
body.thankyou.from-landing-page .group-break { border-top: 1px solid #ccc; margin-top: 10px; padding-top: 40px; margin-bottom: 29px; }
body.thankyou.from-landing-page .group-break p { max-width:none; margin-bottom:0 !important; font-size: 22px; }
body.thankyou.from-landing-page .group-break p svg { margin: 0 0 0 3px; height:auto; max-width: 85px; display: inline-block; }

body.thankyou.from-landing-page .select-wrap { margin-top: 9px; margin-bottom: 40px; }
body.thankyou.from-landing-page .select-wrap a { float:none; margin:0 8px; padding:5px 15px}
body.thankyou.from-landing-page #clear-all { background:#ccc; color:#000; }
body.thankyou.from-landing-page #clear-all:hover { background:#666; }
body.thankyou.from-landing-page .select-wrap a:focus,
body.thankyou.from-landing-page .select-wrap a:focus:hover { text-decoration:none; }

body.thankyou.from-landing-page .disabled { pointer-events: none; cursor: default; }
body.thankyou.from-landing-page #select-all.disabled { background:#ccc; opacity:.4; }  

/********************************
* RESPONSIVE 
*********************************/

/* ABOVE THE FOLD FIXES */
@media (min-width: 992px) and (max-height: 790px) { 
	.product { margin-bottom: 20px; }
	.product picture { height: 142px; overflow: hidden; display: block; border-top: 1px solid #ccc; }
	.product picture img { margin-top: -20px; }
	.product.product-id--housewives-hangover picture img { margin-top: -33px; }
	.product.new picture img { margin-top: -5px; }
}
 


/* RESPONSIVE */
@media (max-width: 1400px) { 
	
}

@media (max-width: 1300px) {
		
}

@media (max-width: 1200px) {
	body.thankyou .product { margin-right: 16px; }
	body.thankyou p.dont-miss { font-size: 25px; }
	.product:not(.last) { margin-right: 20px; }
	.product { margin-bottom:30px; }
}

@media (max-width: 992px) {
	
	.product { }
	body.thankyou .product { width: 290px; float:none; display:inline-block; }
	body.thankyou p.dont-miss { max-width: 72%; }
	body.thankyou p.dont-miss svg { height: 19px; }
	body.thankyou form p.dont-miss { max-width: 72%; }
	body.thankyou form p.dont-miss svg { height: 19px; }
	body.thankyou .product { width: 290px; }
	
}

@media (max-width: 991px) { 
	body.thankyou .product { width: 216px; margin-bottom: 30px; }
	body.thankyou .product .caption p { font-size: 12.999999px; }
	body.thankyou .product { width: 216px; margin-bottom: 30px; }
	body.thankyou .product .caption { padding: 15px; min-height: 75px; }
	.product-id--94894 .description-inner { padding: 0 20px; }
	.product { width: 226px; }
	body.home .product .caption p { font-size: 14px; line-height: normal;      }
	.product .caption { padding-left:14px; min-height: 85px; }
	input[type=checkbox] ~ span, 
	input[type=radio] { margin: 3px 0 0; }

}

@media (max-width: 800px) { 
	
}

@media (max-width: 768px) {
	h2 { font-size: 50px; margin-bottom: 0; }
}

@media (max-width: 767px) { 
	.nav-left, .nav-right { padding-top: 10px; }
	.icon-menu, .icon-search { font-size: 28px; }
	h1.logo, h1.logo svg { max-height: 32.5px; }
	.nyp-nav { padding: 0 15px; }
	
	body.thankyou #top-nav { margin-bottom: 23px; }
	body.thankyou h3 { padding-top: 0px; font-size: 18px; }
	body.thankyou form { margin-top: 17px; padding-top: 15px; }
	body.thankyou form p.dont-miss { max-width: none; font-size: 20px; text-align: center; float: none; line-height: normal; }
	body.thankyou form p.dont-miss svg { height: 15px; }
	body.thankyou form input[type=submit] { padding: 5px 0 3px; margin-top: 11px; float: none; width: 100%; }
	
	.product { width: auto; margin: 0 0 23px; float: none; display: block; }
	form label { padding-bottom: 16px; border: 1px solid #e5e5e5; padding: 19px 9px 16px 11px; display: block !important; }
	.product picture { float: right; margin-left: 20px; margin-bottom: 0; }


    body .product .caption { min-height: 0; border: 0; padding: 1px 0 0 5px; }
	body .product .caption p { font-size: 16px; padding-left: 0; height: auto; }
	body .product .caption p span img { margin-top: 1px; margin-bottom: 3px; max-width: 185px; }
	a.single-submit { width: auto; display: block; margin-top: 0; margin-bottom: 0; clear: both; }
	
	.group-break { margin-top: 27px; margin-bottom: 19px; }
	.group-break p { font-size: 18px; }
	.group-break p svg { }
	.list-id--pagesix .group-break p svg { height:40px; }
	.product-id--94894 .description-inner { padding: 0 40px; }
	.description-inner img, 
	.description-inner h4 { }
	#section-nav-wrapper { top:46px; }
	 
	/* NYP Products */
	.list-id--nypost .product .caption p span img { height:22px; }
	.product.product-id--coronavirus-updates .caption p span img { height:43px; }
	
	/* P6 Products */
	.product.product-id--page-six-daily .caption p span img { height:25px; margin-bottom:0; }
	.product.product-id--page-six-news-alerts .caption p span img { height:39px; margin-bottom:0; }
	.product.product-id--page-six-tv .caption p span img { height:25px; margin-bottom:0; }
	.product.product-id--page-six-special-offers .caption p span img { height:37px; margin-bottom:0; }
	
	/* Decider Products */
	.product.product-id--decider-digest .caption p span img { height:14px; margin-bottom:0; }
	.product.product-id--decider-what-to-watch .caption p span img { height:35px; margin-bottom:0; }
	.product.product-id--decider-got-newsletter .caption p span img { height:53px; margin-bottom:0; }
	.product.product-id--decider-after-dark .caption p span img { height:35px; margin-bottom:0; }
	.product.product-id--decider-all-things-netflix .caption p span img { height:33px; margin-bottom:0; }
	.product.product-id--decider-special-offers .caption p span img { height:35px; margin-bottom:0; }
	
	.check-wrap { top: -3px;}
	input[type=radio]:checked::after, 
	input[type=checkbox]:checked ~ span::after {top: -15px; right:-14px; }
    input[type=radio]::before, 
    input[type=checkbox] ~ span::before { top:-9px; }
    
    .list-id--decider .product .caption { min-height:0; }
    
    .group-break input { position:static !important; }
    
    picture img { width:70px; }
	
	.list-id--nypost .product.product-id--sunday-scoop .caption p span img { height:32px; }
	
	body.landing-page .page-title { margin-bottom:15px; }
	body.landing-page form#evening-cocktails { padding-top: 15px; padding-bottom: 15px; }
	
	body.landing-page .email,
	body.landing-page .submit { width:auto; float:none; padding:0; }
	body.landing-page .submit { padding-top:15px; }
	body.landing-page #secondary { padding-top:15px; }
	body.landing-page #secondary ul li span { display:none; }
	
	body.landing-page h4 { text-align:center; margin-bottom:10px; }
	body.landing-page span.subscribe-all { margin-top:10px;display:inline-block; float:none; }
	
	body.thankyou.from-landing-page #top-nav { margin-bottom: 23px; }
	body.thankyou.from-landing-page h3 { padding-top: 0px; font-size: 18px; }
	body.thankyou.from-landing-page form { margin-top: 17px; padding-top: 15px; }
	body.thankyou.from-landing-page form p.dont-miss { max-width: none; font-size: 20px; text-align: center; float: none; line-height: normal; }
	body.thankyou.from-landing-page form input[type=submit] { padding: 5px 0 3px; margin-top: 11px; float: none; width: 100%; }
	body.thankyou.from-landing-page .product { width: auto; margin: 0 0 23px; float: none; display: block; }
	body.thankyou.from-landing-page form label { padding-bottom: 16px; border: 1px solid #e5e5e5; padding: 19px 9px 16px 11px; display: block !important; }
	body.thankyou.from-landing-page .product .logo-text picture { float: right; margin-left: 20px; margin-bottom: 9px; }
	body.thankyou.from-landing-page .product .caption { min-height: 0; border: 0; padding: 1px 0 0 5px; }
	body.thankyou.from-landing-page .product .caption p { font-size: 16px; padding-left: 0; height: auto; }
	body.thankyou.from-landing-page .product .caption p span img {     height: 32px; margin-top: 1px; margin-bottom: 3px; max-width: 185px; }
	body.thankyou.from-landing-page a.single-submit { width: auto; display: block; margin-top: 0; margin-bottom: 0; clear: both; }
	body.thankyou.from-landing-page .group-break { margin-top: 27px; margin-bottom: 19px; }
	body.thankyou.from-landing-page .group-break p { font-size: 18px; }
	body.thankyou.from-landing-page .group-break p svg { max-width: 112px; display: block; text-align: center; top: 0 !important; margin: 0 auto 15px; }
	body.thankyou.from-landing-page form p.dont-miss svg { margin: 5px auto 0; }
	body.thankyou.from-landing-page .product-id--94894 .description-inner { padding: 0 40px; }
	
	body.thankyou.from-landing-page #section-nav-wrapper { top:46px; }
	
	body.thankyou.from-landing-page .product label[for="lists_116246"] .caption p span img { height:47px; }
	body.thankyou.from-landing-page .product label[for="lists_127389"] .caption p span img { height:21px; }
	
	body.thankyou.from-landing-page input[type=checkbox]:checked ~ span { border:0; border-color:none; }
	body.thankyou.from-landing-page input[type=checkbox]:checked ~ span::before,
	body.thankyou.from-landing-page input[type=checkbox]:checked ~ span::after { content:""; display:none; }
	
	body .product label[for="lists_128388"] .caption p span img { height:47px; }

	/*
	body.thankyou.from-landing-page .product label[for="lists_108850"] .caption p span img,
	body.thankyou.from-landing-page .product label[for="lists_108851"] .caption p span img,
	body.thankyou.from-landing-page .product label[for="lists_99457"] .caption p span img,
	body.thankyou.from-landing-page .product label[for="lists_93458"] .caption p span img,
	body.thankyou.from-landing-page .product label[for="lists_94895"] .caption p span img,
	body.thankyou.from-landing-page .product label[for="lists_53382"] .caption p span img,
	
	body.thankyou.from-landing-page .product label[for="lists_53028"] .caption p span img,
	body.thankyou.from-landing-page .product label[for="lists_53383"] .caption p span img,
	body.thankyou.from-landing-page .product label[for="lists_95116"] .caption p span img,
	body.thankyou.from-landing-page .product label[for="lists_95115"] .caption p span img,
	body.thankyou.from-landing-page .product label[for="lists_54836"] .caption p span img { height: 76px; }*/
	
}

@media (max-width: 667px) { 
	.nyp-nav { position: absolute; top: 5px; left: 0; z-index: 9999; }
	.nav-header span { display: none; }
	h2 { font-size:36px; margin-bottom:10px;}
	h3 { font-size:18px; max-width: 85%; margin: 0 auto; }
	h3 br { display:none; }
	#top-nav { margin-bottom:15px; padding-top: 9px; padding-bottom: 9px;}
	form { margin-top:25px; padding-bottom:40px; }
	.email-field { margin-bottom:9px; }
	.email-field,
	.submit-field { width:100%; padding:0; }
	form p small { padding-top: 20px; line-height: normal;}
    form p small, 
    form p small a {  font-size:14px;  }
	.product { width:100%; float:none; margin:0 0 20px; padding:0 !important; }
	.desktop { display: block; visibility: hidden; height: 0; }
	.description-inner { padding:0 10px 0 40px; }
	.description-inner,
	.product .caption p { text-align:left; }
	.product .caption p { margin-bottom:8px !important; }
	.product .caption img { margin:0; }
	.contact-fields { margin-bottom: 20px; }
	.description-wrap,
	.product .caption { min-height: 0; }
	.description-wrap { padding:15px 0; width: 70%; }
	.product .caption p span.logo-text { margin-bottom:0; padding: 0 0 9px; }
	body.thankyou .product .caption p span.logo-text { padding:0; }
	
	body.thankyou h3 a { display:block; margin-top:20px; }
    
    h2 img {max-height:45px; margin-top:15px;}
    #clear-all:hover { background:#ccc; }
    #clear-all:hover:focus { background:#666; }
	
    body.thankyou.from-landing-page .product picture { float: right; margin-left: 20px; margin-bottom: 10px; }
    
}

@media (max-width: 568px) { 
	h2 { font-size: 30px !important; }
	body.thankyou h3 { font-size: 15px; line-height: normal; }
}

@media (max-width: 320px) { 
	
} 

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	
	#top-nav { margin-bottom: 55px; }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	/* Styles */
	#top-nav { margin-bottom: 100px;  }
}



